^contentpage {
    background-color: #000000;
}

.contentpageMain{
    background-color:white
}

label {
    color: white;
    font-family: sans-serif;
}



.switchlabel {
    color: black;
    font-family: sans-serif;
}

button {
    background-color: orangered;
    color: white;
    text-transform: none;
    font-size: medium;
    font-style: bold;
}


.labelToRemember {
    font-size: small;
}

.helloLabel {
    font-size: large;
}

.white {
    color: black;
    background-color: aliceblue;
    font-style: bold;
    font-family: Arial;
}

.checkBox {
    color: white;
}

.BoldLineLabel {
    font-style: bold;
    text-decoration: underline;
}

.WelcomeLabel {
    font-family: Arial;
    font-style: bold;
}
